/* 
 * Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'),
       url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
}
/*
Theme Name: WP Aeromart Korean 
Author: SevenSquare
Author URI: http://sevensquare.fr/
Description: WP Aeromart Korean  is a flat and minimal design theme powered for the Aeromart Korean Meeting
Version: 1.1
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: white, light, green,  three-columns, two-columns, right-sidebar, flexible-width, custom-menu, featured-images
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* Import the necessary Bootstrap WP CSS additions */
@import url( includes/css/bootstrap-wp.css );
/* Import the google font  */
@import url(http://fonts.googleapis.com/css?family=Coda+Caption:800);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Michroma);
/* My Minimal WordPress Styling comes here */
body.admin-bar .navbar-fixed-top {
	top: 28px;
}
html body .blue-circle,
html body .green-circle {
    line-height: 1.7em;
}
html body .blue-circle,
html body .green-circle,
html body .widget-title {
    font-weight: 600;
}
html body blockquote,
html body .blue-circle,
html body .green-circle,
html body .btn,
html body .ext-links,
html body .menu-item {
    font-family: 'Nanum Gothic' !important;
}
html body h3 {
    font-size: 18px;
    font-weight: 600;
}
html body,
html body blockquote p {
    line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Nanum Gothic', 'Michroma', 'Archivo Narrow', sans-serif !important;
}
a {
	outline:none !important;
}
input[type=checkbox] {
  outline:none !important;
  padding: 0;
  font-size: 16px;
  width: 18px;
  height: 18px;
  background: #DDD;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: 1px 1px 1px #fff;
    -moz-box-shadow: 1px 1px 1px #fff;
    -webkit-box-shadow: 1px 1px 1px #fff;
  border-radius:2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  vertical-align: text-top;
  display: inline-block;
  cursor: pointer !important;
  outline:none;
  
  moz-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
input[type=checkbox]:checked{
  background:#75a460;
}
input[type=checkbox]:checked::after,
input[type=checkbox]:hover::after{
  content: "";
  display: block;
  text-align: center;
  height: 10px;
  width: 5px;
  margin:2px auto;
  border-right:2px solid #FFF;
  border-bottom:2px solid #FFF;
  transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
}
.main-content a {
	outline:none;
}
.navbar-toggle {
	margin-top: 15px;
}
.nav-collapse {
	padding: 15px 0px 0px 0px;
}
.navbar {
	margin: 0px !important;
	background: #2c3e50 !important;
	-webkit-border-radius: 1px !important;
	-moz-border-radius: 1px !important;
	border-radius: 1px !important;
	padding-left:0 !important;
}
.navbar .container {
	margin: 0px auto !important;
	padding: 0px 10px 0px 10px;
}
.navbar-brand  {
	font-family: 'Coda Caption', sans-serif;
	max-width: 100% !important;
	padding: 0px !important;
	line-height: 80px !important;
	font-size: 30px !important;
	text-transform: uppercase;
	color: #fff !important;
}
.page-title {
	word-wrap: break-word;
}
table tr td {
	padding: 5px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	background: #ecf0f1;
}
.navbar-nav > li > a {
	color: #fff !important;
}
.site-header {
	
	background: #94bc80;
	padding: 20px 0px;
	border-bottom: 1px solid #ccc;
}
.site-header h1 {
	font-size: 22px;
	padding: 0px;
	margin: 0px;
	color: #fff;
	max-width: 70%;
	display: inline;
}
.site-header .container {
	margin: 0px auto !important;
	padding: 0px 10px;
}
.postdate {
	background: #75a460;
	color: #fff;
	padding-top: 5px;
	font-size: 18px;
	text-align: center;
}
.postdate span {
	display: block;
	clear: both;
	padding: 5px 0px;
	font-size: 25px;
	font-weight: bold;
}
.postcoment {
	background: #7f8c8d;
	color: #fff;
	padding: 5px;
	font-size: 18px;
	text-align: center;
}
/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}
.one-half {
width: 46%;
text-align: justify;
float: left;
margin-right: 8%;
}
.second-half {
width: 46%;
text-align: justify;
float: left;
}
.blue-circle,
.green-circle {
background: #2c3e50;
color: #fff;
padding: 30px 30px 30px;
border-radius: 50%;
height: 180px;
width: 180px;
font-size: 130%;
text-align: center;
margin: 0 auto 20px
}
.green-circle {
background: #94bc80;
}
.one-half .btn-primary {
background-color: #2c3e50;
border-color: #2c3e50;
}
.vfb-submit {
color: #fff;
background-color: #75a460;
border:0;
display: inline-block;
padding: 8px 16px;
margin-bottom: 0;
outline:none;
font-size: 14px;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border-radius: 4px;
}
.vfb-submit:hover,
.vbf-submit:active {
background-color:#357ebd;
}
.contact-block .green {
border-bottom: 1px dashed #ccc;
line-height: 2em;
}
.contact-block img {
-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.contact-block a {
	color:#333;
}
/* Images and wp-captions should always fit and be responsive */
img {
	display: inline-block;
	height: auto;
	max-width: 100%;
}
img[class*="wp-image-"] {
	margin-top: 10px;
	margin-bottom: 10px;
}
.navbar-nav>.active>a, .navbar-nav>.active>a:hover, .navbar-nav>.active>a:focus {
	background: #7da368 !important;
}
.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
	background: #7da368 !important;
}
.navbar-nav>li>a:hover {
	background: rgba(255, 255, 255, 0.1) !important;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 10px;
	max-width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 10px;
}
.wp-caption.aligncenter {
	margin-bottom: 10px;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
}
.wp-caption .wp-caption-text {
	text-align: center;
	margin-top: 10px;
}
/*.widget {
	background: #ecf0f1;
}*/
.widget h3.widget-title {
	background: #94bc80;
	color: #fff;
	padding: 10px;
	margin: 0px;
	font-size: 14px;
text-align:center;
}
/* WP Gallery */
.sidebar {
	padding-top: 30px;
}
.gallery {
	margin-bottom: 1.5em;
}
.gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.gallery dd {
	margin: 0;
}
.left-meta {
	margin-top: 40px;
}
.post-thumb-home {
	max-height: 200px;
	overflow: hidden;
	background: #ecf0f1;
	text-align: center;
}
#primery-footer {
	padding: 10px 0px;
	background: #2c3e50;
}
#primery-footer .widget {
	background: none !important;
}
#primery-footer .widget h3 {
	background: none !important;
	padding: 10px 0px;
	margin-bottom: 10px;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
	text-align:left;
}
#primery-footer .widget a {
	color: #75a460 !important;
	padding: 2px 0px;
}
#primery-footer .widget a:hover {
	background: none !important;
	text-decoration: underline;
}
#primery-footer .col-3:nth-child(2){
	width:50%;
}
.site-footer {
	padding: 10px 0px;
	background: #34495e;
	color: #fff;
}
.site-footer a {
	padding: 10px 0px;
	color: rgba(255,255,255,.2);
	text-decoration:none;
-webkit-transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    transition: color .3s ease-in;
}
.site-footer a:hover {
	color: #FFFFFF;
	text-decoration:none;
}
.site-footer .container {
	padding :0;
	text-align: center;
}
#primery-footer  .widget {
	color: #fff !important;
}
.paging-navigation {
	clear: both;
	
}
.paging-navigation a {
	color: #fff !important;
	padding: 10px !important;
	display: block;
	background: #95a5a6;
	font-size: 16px;
}
.paging-navigation a:hover {
	background: #7f8c8d;
}
.paging-navigation div {
	width: 49%;
	display: inline-block !important;
	min-width: 300px;
}
.paging-navigation div {
	width: 49%;
	display: inline-block !important;
	min-width: 300px;
}
.paging-navigation div.nav-next {
	text-align: right;
}
.post-navigation {
	clear: both;
	padding-top: 20px;
	min-height: 100px;
	
}
.post-navigation a {
	color: #fff !important;
	padding: 10px !important;
	display: block;
	background: #95a5a6;
	font-size: 16px;
}
.post-navigation a:hover {
	background: #7f8c8d;
}
.post-navigation div {
	width: 49%;
	display: inline-block !important;
	min-width: 300px;
}
.post-navigation div {
	width: 49%;
	display: inline-block !important;
	min-width: 300px;
}
.post-navigation div.nav-next {
	text-align: right;
	float: right;
}
.comments-area {
	margin-top: 20px;
	border-top: 2px solid #95a5a6;
}
.comments-area  label{
	display: inline-block;
	width: 100px;
}
.comments-area  .btn{
	background: #94bc80;
	border: none;
	color: #fff !important;
}
.comments-area  .alert-info{
	background: #ecf0f1;
	border: none;
}
#social {
	float: right;
	text-align: right;
	vertical-align: top;
}
#social a  {
	display: inline-block;
	margin-left: 15px;
	width: 32px;
	height: 32px;
	font-size: 0px !important;
	vertical-align: top;
}
#social a:hover  {
	opacity: 0.5;
}
#social  a.facebook  {
	background: url(images/02_facebook.png);
}
#social  a.twitter  {
	background: url(images/01_twitter.png);
}
#social  a.gplus  {
	background: url(images/14_google_.png);
}
#social  a.linkedin  {
	background: url(images/07_linkedin.png);
}
#social  a.youtube  {
	background: url(images/03_youtube.png);
}
#social  a.pinterest  {
	background: url(images/13_pinterest.png);
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}
/* Content */
.main-content-inner {
	padding-bottom: 1.5em;
}
.hentry {
	margin: 0 0 1.5em;
}
.sticky {
}
.gallery-caption {
}
.bypostauthor {
}
.nav>li>a {
	display: inline-block !important;
	text-transform: uppercase;
	font-size: .85em;
}
.ext-links {
	color:#FFF;
	text-align:right;
}
.ext-links a {
	color:#FFF !important;;
	display: inline-block;
	padding: 4px 6px;
	margin: 5px 5px 0;
	font-size: 14px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	background: #94bc80;
	border: none;
	text-decoration:none !important;
}
.ext-links a:hover {
	background: #3f5871;
}
.green {
	color: #75a460;
}
.metaslider-14 {
	margin-top:30px !important;
}
.entry-content ul {
	list-style-image:url(images/link-marker.gif);
}
/* Clearing */
.clear,
.clr {
	clear: both;
}
.widget { margin-bottom: 2em; }
.widget_nav_menu ul.sub-menu li, .widget_pages ul.children li { padding-left: 15px; }
.widget_search .search-form input[type="submit"] { display: none; }
.widget select {
	max-width: 100%;
}
 .comment .children { margin-left: 1.5em; } 
 
